@charset "UTF-8";
/* CSS Document */

	head,body { margin: 0 auto; padding: 0; overflow-x: hidden; text-align: center; max-width: 1920px;  font-family: Gill Sans, Gill Sans MT, Helvetica, Arial, sans-serif; -moz-user-select: none;-webkit-user-select: none;}
	* {margin: 0;padding: 0;}
	a {text-decoration:none; display: inline-block;}
	
	/*.footer { width: 100%; height: 100px; background-color: #f6f6f6; bottom: 0;}*/
	
		.container { position: relative; width: 100%; border: none; overflow-x: visible;}
		.topimg img { height:auto;}
		.main { width: 100%; }

			.building,.green01,.green02,.rainbow,.mypic,.train,.yellowline{ position: absolute; height:auto; transition: 0.4s; }
			.building { z-index:-10;}
			.green01 { z-index:-9; }
			.green02 { z-index:-8; display: block;}
			.rainbow { z-index:-7; }
			.mypic { z-index:-6; }
			.train { z-index:-5; }
			.yellowline { z-index:-4;}
		.nav { text-align: left; transition: 0.5s;}
		.nav ul{margin: 0; padding: 0; display: block;}
		.nav ul li{display:inline-block; text-align: center;}
		.nav ul li:first-child { display:inline-block;}
		.nav ul li a {position:relative; display:inline-block; }
		.nav img { width: 1.9rem; height:auto; vertical-align:middle; margin: -0.5rem 1.8rem 0 0;}


		@media only screen and (max-width: 420px) {
		.container { width: 90vw; border: 5vw solid #ffffffe0; overflow-x: hidden;}
		.topimg { margin-top: 8%; }
		.topimg img { width:33%; margin-left: 52%; }
		.main { margin-top: -8%;}
			.building { width:133.33%; left: -50%; }
			.green01 { width:100%; left: 50%; }
			.green02 { width:66.66%; left: 75%; display: none;}
			.rainbow { width:100%; left: 50%;  }
			.mypic { width:66.66%; left: 10.66%; }
			.train { width:100%; left: 16.66%;  }
			.yellowline { width:100%; left: -16%; z-index: -7;}

		.nav { margin-top: 115%; padding-left: 0;}
		.nav ul li{  width: 60%; padding: 2.2%; margin: 2.5vw 16%; border: 0.5px solid #848E90;  }
		.nav ul li:first-child { display:none;}
		.nav ul li a {position: relative; display: block; }
		.nav font { font-size: .9rem; letter-spacing: 0.13rem; margin: 0; color: #848e90;}
		.side { display: none;}
		
		.link{-webkit-tap-highlight-color: rgba(0,0,0,0);
		  -webkit-transition: all 0.2s ease;
			 -moz-transition: all 0.2s ease;
			  -ms-transition: all 0.2s ease;
			   -o-transition: all 0.2s ease;
				  transition: all 0.2s ease;}

		 .link:hover{
			-webkit-transform:translateY(.2rem);
			 -moz-transform:translateY(.2rem);
			  -ms-transform:translateY(.2rem);
			   -o-transform:translateY(.2rem);
				  transform:translateY(.2rem)}
		
		 .link:active { background-color: #F8C856;border: 0.5px solid #F8C856;}
		 .link:active font { color: #fff;}
	}
	
	
	
	
	
	@media only screen and (min-width: 420px) {
		.topimg { margin-top: 8%; }
		.topimg img { width:24%; margin-left: 60%; }
		.main {   margin-top: 0%;}
			.building {  width:100%;   left: -25%; }
			.green01 {  width:75%;   left: 50%; }
			.green02 {  width:50%;   left: 75%;  }
			.rainbow {  width:75%;   left: 50%; }
			.mypic {  width:50%;   left: 25%; }
			.train {  width:75%;   left: 25%; }
			.yellowline {  width:75%;   left: -25%; }

		.nav {  margin-top: 84%;   padding-left: 0;  }
		.nav ul li{  width: 56%; padding: 2%; margin: 2vw 20%; border: 0.5px solid #848E90;  }
		.nav ul li:first-child { display:none;}
		.nav ul li a {position: relative; display: block; }
		.nav font { font-size: 1.4rem; letter-spacing: 0.2rem; margin: 0 1.8rem; color: #848e90;}
		.side { display: none;}
		
		.link{-webkit-tap-highlight-color: rgba(0,0,0,0);
		  -webkit-transition: all 0.2s ease;
			 -moz-transition: all 0.2s ease;
			  -ms-transition: all 0.2s ease;
			   -o-transition: all 0.2s ease;
				  transition: all 0.2s ease;}

		 .link:hover{
			-webkit-transform:translateY(.2rem);
			 -moz-transform:translateY(.2rem);
			  -ms-transform:translateY(.2rem);
			   -o-transform:translateY(.2rem);
				  transform:translateY(.2rem)}
		
		 .link:active { background-color: #F8C856;border: 0.5px solid #F8C856;}
		 .link:active font { color: #fff;}

	}
	
	@media only screen and (min-width: 768px) {
		.topimg { margin-top: 8%; }
		.topimg img { width:16%; margin-left: 66%; }
		.main {   margin-top: 3%;}
			.building {  width:66.66%;   left: 0%; }
			.green01 {  width:50%;   left: 50%;  }
			.green02 {  width:33.33%;   left: 66.66%;}
			.rainbow {  width:50%;   left: 50%;  }
			.mypic {  width:33.33%;   left: 33.33%; }
			.train {  width:50%;   left: 33.33%;  }
			.yellowline {  width:50%;   left: 0%; }

		.nav {  margin-top: 60%;   padding-left: 0;  }
		.nav ul li{  width: 56%; padding: 2%; margin: 2vw 20%; border: 0.5px solid #848E90;  }
		.nav ul li:first-child { display:none;}
		.nav ul li a {position: relative; display: block; }
		.nav font { font-size: 1.4rem; letter-spacing: 0.2rem; margin: 0 1.8rem; color: #848e90;}
		.side { display: none;}
		
	}
	
	@media only screen and (min-width: 1024px) {
		.topimg { margin-top: 6%; }
		.topimg img { width:14%; margin-left: 66%; }
		.main {   margin-top: 3%;}
			.building {  width:66.66%;   left: 0%;}
			.green01 {  width:50%;   left: 50%;}
			.green02 {  width:33.33%;   left: 66.66%;}
			.rainbow {  width:50%;   left: 50%;}
			.mypic {  width:33.33%;   left: 33.33%;}
			.train {  width:50%;   left: 33.33%;}
			.yellowline {  width:50%;   left: 0%;}

		.nav {  margin-top: -6%;   padding-left: 10%; }
		.nav ul{display: table;}
		.nav ul li{display:inline; width:auto; padding: 0; margin: 0; border: 0;  }
		.nav ul li:first-child { display:inline-block;}
		.nav ul li a {position:relative; display:inline-block; }
		.nav font { font-size: 1.2rem; letter-spacing: 0.2rem; margin: 0 1.8rem; color: #000;}
		.side { display: none;}
		a{
		  -webkit-transition: all 0.2s ease;
			 -moz-transition: all 0.2s ease;
			  -ms-transition: all 0.2s ease;
			   -o-transition: all 0.2s ease;
				  transition: all 0.2s ease;}

		 a:hover{
			-webkit-transform:translateY(.2rem);
			 -moz-transform:translateY(.2rem);
			  -ms-transform:translateY(.2rem);
			   -o-transform:translateY(.2rem);
				  transform:translateY(.2rem)}
		.link{
		  -webkit-transition: none;
			 -moz-transition: none;
			  -ms-transition: none;
			   -o-transition: none;
				  transition: none;}

		 .link:hover{ 
			-webkit-transform:none;
			 -moz-transform:none;
			  -ms-transform:none;
			   -o-transform:none;
				  transform:none}

		 .link:active { background-color: transparent;border: none;}
		 .link:active font { color: #000;}

	}
	
	
	
	@media only screen and (min-width: 1440px) {
		.topimg { margin-top: 3%; }
		.topimg img { width:9.8%; margin-left: 50%; }
		.main { width: 1920px; margin-top: -3%;}
			.building {  width:50%;   left: 12.5%; }
			.green01 {  width:37.5%;   left: 50%; }
			.green02 {  width:25%;   left: 62.5%; }
			.rainbow {  width:37.5%;   left: 50%; }
			.mypic {  width:25%;   left: 37.5%;}
			.train {  width:37.5%;   left: 37.5%;}
			.yellowline {  width:37.5%;   left: 12.5%;}

		.nav {  margin-top: 35%;   padding-left: 20%;  }
		.nav ul{display: table;}
		.nav ul li{display:inline;}
		.nav font { font-size: 1.05rem; letter-spacing: 0.2rem; margin: 0 1.05rem;}
		.side { display: block; width: 1920px; margin-top: -3%;}
			.leftside01 { position: absolute; left: 0%; transform: translateY(50%); z-index: -5;}
			.leftside02 { position: absolute; left: 0%; transform: translateY(400%); z-index: -5;}
			.midside01 { position: absolute; left: 25%;  z-index: -5;}
			.midside02 { position: absolute; left: 62.5%; transform: translateY(200%); z-index: -5;}
			.rightside01 { position: absolute; left: 75%; transform: translateY(100%); z-index: -5;}
			.rightside02 { position: absolute; left: 87.5%; transform: translateY(50%); z-index: -5;}
			.rightside03 { position: absolute; left: 75%; transform: translateY(200%); z-index: -5;}
		
	}
	@media only screen and (min-width: 1680px) {
		.nav img { width: 2.1rem;}
		.nav font { font-size: 1.26rem; letter-spacing: 0.25rem;}		
	}
	
	@media only screen and (min-width: 1920px) {
		.nav img { width: 2.5rem;}
		.nav font { font-size: 1.5rem; letter-spacing: 0.3rem;}		
	}

/* CONTACT*/
.hide{ display: none;}

.shadow{ position: fixed ; top: 0; left: 0; width:100%; height: 100%; background-color:#00000087;box-shadow: 1vw 1vw 20vw #98989850;}	
.sayhello{ position: fixed ; top:15%; left: 10%; width:80%; height: 70%; background-color:#f8c856;box-shadow: 1vw 1vw 20vw #00000094;  overflow: hidden; display: flex;flex-direction: column;justify-content: center;}	

.sayhello span, .sayhello span:before {position: absolute; height: .3vw; width:8vw;  border-radius: .3vw; background-color:#fff; content:'';left: 0;transition: .5s;}
.sayhello span { transform: rotate(45deg);top: 6vw; left: 3vw; }
.sayhello span:before {transform: rotate(90deg); }
.sayhello span:after {content:''; width: 5vw; height: 5vw; position: absolute; top:-2vw; left:-2vw;transform: rotate(-45deg)}

.sayhello h2{ font-size: 1.6rem; line-height: 2.5rem;color: #fff;}
.sayhello h5{font-size: 1.2rem;color: #017266;}

.sayhello button{width: 15vw; height: 3vw; background-color: #f98544;color: #fff; border: none; font-size: 1.5rem; font-weight: 300;outline:none;overflow: hidden;position: relative;}
.sayhello button:after { width:100%; height:100%;border-radius: 100%; background-color:#fbf0d7;background-position: 50%;content:'';position: absolute;top: 0;left: 0;pointer-events:none;transform: scale(1,5); opacity:0; transition: transform .5s,opacity 1s;}
.sayhello button:active:after{ transform: scale(0,0); opacity: .2; transition: 0s;}

.circle1,.circle2,.circle3,.circle4{position: absolute;}
.circle1{ width: 100vw; height: 100vw; border-radius: 100vw; background-color:#f98544;top:79vw;left: -18vw; }
.circle2{ width: 80vw; height: 80vw; border-radius: 80vw; border:0.2vw #f98544 solid; top:-60vw;left: 55vw;}
.circle3{ width: 20vw; height: 20vw; border-radius: 20vw; background-color:#fbf0d7;top:82vw;left: 57vw;}
.circle4{ width: 5vw; height: 5vw; border-radius: 5vw; background-color:#017266;top:72vw;left: 7vw;}

@media only screen and (max-width: 375px) { 
.sayhello h2{ font-size: 1.3rem;line-height: 2rem;margin-bottom: 5vw;}
.sayhello h5{font-size: 1rem;}
.sayhello button{width:60vw; height: 10vw; font-size: 1rem; font-weight: 300;margin-bottom: 10vw;}

.circle1{ top:105vw;left: -18vw;}
.circle2{ top:-60vw;left: 55vw;}
.circle3{ top:100vw;left: 57vw;}
.circle4{ top:98vw;left: 7vw;}
}
@media only screen and (min-width: 376px) and (max-width: 595px) { 
.sayhello h2{ font-size: 1.6rem;line-height: 2.5rem; margin-bottom: 5vw;}
.sayhello h5{font-size: 1.2rem;}
.sayhello button{width:48vw; height: 10vw; font-size: 1.2rem;}
.circle1{ top:105vw;left: -18vw;}
.circle2{ top:-60vw;left: 55vw;}
.circle3{ top:100vw;left: 57vw;}
.circle4{ top:98vw;left: 7vw;}

}
@media only screen and (min-width: 596px) and (max-width: 768px) { 
.sayhello span, .sayhello span:before { height: .3vw; width:5vw;  border-radius: .3vw; }
.sayhello h2{ font-size: 2.2rem;line-height: 3.5rem;margin-bottom: 5vw;}
.sayhello h5{font-size: 1.6rem;}
.sayhello button{width:48vw; height: 6vw; font-size: 1.5rem;}
.circle3{ top:77vw;left: 57vw;}
}
@media only screen and (min-width: 769px) and (max-width: 1024px) { 
.sayhello span, .sayhello span:before { height: .3vw; width:5vw;  border-radius: .3vw;}
.sayhello h2{ font-size: 2.4rem;line-height: 4rem;margin-bottom: 5vw;}
.sayhello h5{font-size: 1.8rem;}
.sayhello button{width:30vw; height: 5vw; font-size: 1.6rem;}
.circle1{ top:71vw;left: -18vw;}
.circle2{ top:-60vw;left: 55vw;}
.circle3{ top:68vw;left: 57vw;}
.circle4{ top:67vw;left: 7vw;}
}
@media only screen and (min-width: 1025px) and (max-width: 1366px) { 
.sayhello{ top:20%; left: 20%; width:60%; height: 60%;}	
.sayhello span, .sayhello span:before { height: .3vw; width:4vw;  border-radius: .3vw;}
.sayhello h2{ font-size: 3rem;line-height: 4rem;margin-bottom: 5vw;}
.sayhello h5{font-size: 2.4rem;}
.sayhello button{width:30vw; height: 5vw; font-size: 1.8rem;}
.circle1{ top:47vw;left: -18vw;}
.circle2{ top:-60vw;left: 55vw;}
.circle3{ top:49vw;left: 57vw;}
.circle4{ top:45vw;left: 7vw;}
}
@media only screen and (min-width: 1367px) and (max-width: 1440px) { 
.sayhello{ top:20%; left: 25%; width:50%; height: 60%;}	
.sayhello span, .sayhello span:before { height: .3vw; width:3vw;  border-radius: .3vw;}
.sayhello span { transform: rotate(45deg);top: 3vw; left: 2vw; }
.sayhello h2{ font-size: 2rem;line-height: 2rem;margin-bottom: 3vw;}
.sayhello h5{font-size: 1.6rem;}
.sayhello button{width:20vw; height: 3vw; font-size: 1rem;}
.circle1{ top:47vw;left: -18vw;}
.circle2{ top:-60vw;left: 55vw;}
.circle3{ top:49vw;left: 69vw;}
.circle4{ top:45vw;left: 7vw;}
}
@media only screen and (min-width: 1441px){ 
.sayhello{ top:20%; left: 25%; width:50%; height: 60%;}	
.sayhello span, .sayhello span:before { height: .3vw; width:3vw;  border-radius: .3vw;}
.sayhello span { transform: rotate(45deg);top: 3vw; left: 2vw; }
.sayhello h2{ font-size: 3rem;line-height: 4rem;margin-bottom: 2vw;}
.sayhello h5{font-size: 2.4rem;}
.sayhello button{width:16vw; height: 3vw; font-size: 1.8rem;}
.circle1{ top:47vw;left: -18vw;}
.circle2{ top:-60vw;left: 55vw;}
.circle3{ top:49vw;left: 69vw;}
.circle4{ top:45vw;left: 7vw;}
}

